<nav class="secondary-navbar--expanded">
  <ul>
    <li class="navbar-nav--lg navbar-nav--hidden"></li>
    <li class="navbar-nav--md navbar-nav--hidden"></li>
    <li class="navbar-nav--md">
      <a href="/companies/new">
        <p><i class="fa fa-plus"></i></p>
        <p>company</p>
      </a>
    </li>
    <li class="navbar-nav--md navbar-nav--hidden"></li>
    <li class="navbar-nav--md navbar-nav--hidden"></li>
    <li class="navbar-nav--lg navbar-nav--hidden"></li>
  </ul>
</nav>

<div class="list--companies" ng-controller="CompaniesCtrl as ctrl">
  <form class="filters">
    <div>
      <input class="searchbar" placeholder="Search">
    </div>
  </form>
  <ul>
    <li ng-repeat="company in ctrl.companies">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/100px-Ruby_logo.svg.png">
      <a ng-href="/companies/{{company.id}}">
        <p><span class="left">{{company.name}}</span><span class="right"><i class="fa fa-map-marker"></i> {{company.city}} {{company.postcode}}</span></p>
      </a>
    </li>
  </ul>
</div>
