body {
  height: 100vh;
  width: 100vw;
}

main {
  display: inline-block;
}

.dashboard {
  background-color: $good-beige;
  position: fixed;
  left: 12%;
  height: 100%;
  width: 88%;
}

.wrapper--fill {
  width: 100%;
  height: 100%;
}

.title {
  color: $light-sky-blue;
  font-family: $font-family--heading;
  font-size: 1.2em;
  font-weight: bold;
}