//======================================
// VARIABLES
//======================================
//

// FONT STACKS

$font-family--heading : 'Futura Book', 'Futura', 'Century Gothic', 'Open Sans', 'sans-serif';
$font-family--body : 'Geneva', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
$font-family--buttons : 'Slim Joe';

// BASE COLORS

$deep-manly-blue : #293337;
$light-sky-blue : #90B3C3;
$good-beige : #E6E4E0;
$success-green : #4FAB43;
$nero: #272822;
$white : #FAF8F4;
$black: #1C1C1C;
$lighter-black: #252525;


// COLOR USAGE

$color-primary : $deep-manly-blue;
$color-secondary : $light-sky-blue;
$color-background: $good-beige;
