node_modules
public/libs
*.pyc
venv
*.DS_Store
*.swp
phantomjsdriver.log
npm-debug.log
__pychache__
tests/karma/coverage/*
*.psd
*.jpg
*.png
*.sass-cache
application.css
application.css.map
*.svg
ghostdriver.log
