<!DOCTYPE html>
<html lang="eng" ng-app="Jobber">
  <head>
    <meta charset="utf-8">
    <base href="/">

    <title>Recruitment</title>

    <link rel="stylesheet" href="public/libs/bootstrap/dist/css/bootstrap.min.css">

    <script src="public/libs/jquery/dist/jquery.min.js"></script>
    <script src="public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="public/libs/angular/angular.min.js"></script>
    <script src="public/libs/angular-resource/angular-resource.min.js"></script>
    <script src="public/libs/angular-route/angular-route.min.js"></script>

    <script src="public/js/app.js"></script>
    <script src="public/js/routes.js"></script>

    <script src="public/js/controllers/registrationController.js"></script>
    <script src="public/js/controllers/loginController.js"></script>
    <script src="public/js/controllers/companiesCtrl.js"></script>
    <script src="public/js/controllers/newCompanyCtrl.js"></script>
    <script src="public/js/controllers/viewCompanyCtrl.js"></script>
    <script src="public/js/controllers/newPersonCtrl.js"></script>
    <script src="public/js/controllers/viewPersonCtrl.js"></script>
    <script src="public/js/controllers/newJobCtrl.js"></script>
    <script src="public/js/controllers/viewJobCtrl.js"></script>

    <script src="public/js/factories/companiesResourceFactory.js"></script>
    <script src="public/js/factories/peopleResourceFactory.js"></script>
    <script src="public/js/factories/jobsResourceFactory.js"></script>
    <script src="public/js/factories/userAuthFactory.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" ng-controller="LogoutController as ctrl">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            JobbrLogo
          </a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <p class="navbar-text">Signed in as USERANGULARHERE</p>
          <button type="button" class="btn btn-default navbar-btn">Sign Out</button>
        </div>
      </div>
    </nav>
    <main ng-view class="container"></main>
  </body>
</html>
