<!DOCTYPE html>
<html lang="eng" ng-app="Jobber">
  <head>
    <meta charset="utf-8">
    <script src="public/libs/jquery/dist/jquery.js"></script>
    <script src="public/libs/angular/angular.js"></script>
    <script src="public/libs/angular-resource/angular-resource.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/controllers/companiesCtrl.js"></script>
    <script src="public/js/factories/companiesResourceFactory.js"></script>
    <title>Recruitment</title>
  </head>
  <body>
    <ng-show></ng-show>
  </body>

</html>
