<div class="new-page" ng-controller="NewJobCtrl as ctrl">
  <form ng-submit="scrapeCompanyData()" class="companyApi">
    <input ng-model="ctrl.jobURL" placeholder="Job URL">
    <button type="submit" class="btn-submit">Search</button>
  </form>
  <div class="new-form">
    <form ng-submit="ctrl.createNewJob()">
        <input ng-model="ctrl.title" type="text" placeholder="Job Title">
        <input ng-model="ctrl.salary" type="text"  placeholder="Job Title">
        <input ng-model="ctrl.location" type="text"  placeholder="Location">
        <input ng-model="ctrl.summary"  type="text" placeholder="Summary">
        <input ng-model="ctrl.perks"  type="url" placeholder="Perks">
      <button id="submitJ"type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</div>
