<header class="header--home">
  <h1>HELLO, ANGULAR NAME.</h1>
</header>

<div class="content--home">
  <section class="content-motivational">
    <h2>Testing Text</h2>
  </section>
  <div>
    <section class="list--home-jobs">
      <ul>
        <li>
          <a>
            <p>random name</p>
          </a>
        </li>
      </ul>
    </section>
    <section class="list--home-applications">
      <ul>
        <li>
          <a>
            <p>random name</p>
          </a>
        </li>
      </ul>
    </section>
    <section class="story--home">
      <h2>THE STORY SO FAR</h2>
      <div></div>
    </section>
  </div>
</div>
