<header class="header--home" ng-controller="CurrentUserCtrl as userCtrl">
  <h1>HELLO, {{userCtrl.currentUser()}}.</h1>
</header>

<div class="content--home" ng-controller="ProfileCtrl as ctrl">
  <section class="content-motivational">
    <h2>"Do... or do not. There is no try."</h2>
  </section>
  <div>
    <section class="list--home-jobs">
      <ul>
        <li ng-repeat="job in ctrl.jobs">
          <a ng-href="{{job.url}}">
            <p>{{job.jobtitle}} - {{job.company}}</p>
          </a>
        </li>
      </ul>
    </section>
    <section class="list--home-applications">
      <ul>
        <li>
          <a>
            <p></p>
          </a>
        </li>
      </ul>
    </section>
    <section class="story--home">
      <h2>THE STORY SO FAR</h2>
      <div class="story">
        <h2><span>9</span> Applications Opened</h2>
        <h2><span>4</span> Applications Active</h2>
        <h2><span>28</span> Companies Added</h2>
        <h2><span>3</span> People Added</h2>
        <h2><span>7</span> Jobs Added</h2>
        <h2><i class="fa fa-smile-o"></i></h2>
        <h2>You're a job hunting <span>ROCKSTAR</span></h2>
      </div>
    </section>
  </div>
</div>
