<main class="bg">
  <section ui-view>
    <!-- partials in here -->
  </section>
  <section class="logo">
   <img src="public/img/optimised.svg">
  </section>
  <footer>
    <p> A <a href="http://www.makersacademy.com/">Makers Academy</a> Production. 2016 <span> <a href="https://github.com/michaellennox/jobber"><img src="public/img/smallLogo.svg"></a></span> 
    <span><a href="https://github.com/Adzz"> ADAM </a></span>
    <span><a href="https://github.com/JBorrell"> JAMES </a></span>
    <span><a href="https://github.com/michaellennox"> MICHAEL </a></span>
    <span><a href="https://github.com/genzade"> HAMID </a></span>
    <span><a href="https://github.com/Andrew47"> ANDREW </a></span>
    </p>
  </footer>
</main>
