<main class="bg">
  <section ui-view>
    <!-- partials in here -->
  </section>
  <section>
    <!-- logo in here -->
  </section>
  <footer>
    <p> © Makers Academy 2016 <span> LOGO </span> 
    <span><a href="https://github.com/Adzz"> ADAM </a></span>,
    <span><a href="https://github.com/JBorrell"> JAMES </a></span>,
    <span><a href="https://github.com/michaellennox"> MICHAEL </a></span>,
    <span><a href="https://github.com/genzade"> HAMID </a></span>,
    <span><a href="https://github.com/Andrew47"> ANDREW </a></span>
    </p>
  </footer>
</main>
