<div ng-controller="LoginController as ctrl" class="col-md-6 col-md-offset-3">
  <form ng-submit="ctrl.login()" class="login-form">
    <button type="button" ng-show="ctrl.error" class="alert" role="alert">
      <p><i class="fa fa-exclamation-circle"></i> {{ctrl.error}}</p>
    </button>
    <input ng-model="ctrl.email" type="text" placeholder="Email" required autofocus>
    <input ng-model="ctrl.password" type="password" placeholder="Password" required>
    <button id="login" type="submit" class="btn-submit">Submit</button>
  </form>
</div>
