<div ng-controller="ViewApplicationCtrl as ctrl" class="wrapper--fill">
  <nav class="secondary-navbar--expanded">
    <ul>
      <li class="navbar-nav--lg navbar-nav--hidden"></li>
      <li class="navbar-nav--md navbar-nav--hidden"></li>
      <li class="navbar-nav--md navbar-nav--hidden"></li>
      <li class="navbar-nav--sm">
        <a ng-href="/applications/{{ctrl.id}}/events/new">
          <p><i class="fa fa-plus"></i> note</p>
        </a>
      </li>
      <li class="navbar-nav--sm">
        <a ng-href="/applications/{{ctrl.id}}/events/new">
          <p><i class="fa fa-plus"></i> event</p>
        </a>
      </li>
      <li class="navbar-nav--md navbar-nav--hidden"></li>
      <li class="navbar-nav--lg navbar-nav--hidden"></li>
    </ul>
  </nav>

  <div class="wrapper--application">
    <div class="views--application">
      <section class="progress">
        PROGRESS BAR GOES HERE YAY
      </section>

      <section class="list--events">
        <h2>What's Gone On?</h2>
        <div class="list-wrapper">
          <ul>
            <li class="left">
              <h3>Found EpicCo's Website</h3>
              <p>Found a pretty awesome looking company, time for me to do some research and then apply to join them!</p>
            </li>
            <li class="left">
              <h3>Sent CV to Jackie</h3>
              <p>Today I sent my CV to Jackie, let's hope for a response!</p>
            </li>
            <li class="right">
              <h3>Received Reply from Careers Email</h3>
              <p>They emailed me back today, this feels like it is amazing! It appears they want to interview me, let's get my best suit on and give it a crack.</p>
            </li>
            <li class="center">
              <h3>First Stage Interview</h3>
              <p>Had a telephone chat with Jackie and another memeber of the team, was pretty awesome and I think I stand a good shot!</p>
            </li>
            <li class="right">
              <h3>Jackie Sent Feedback</h3>
              <p>Good points - I'm a really epic coder, Makers' Academy must have done wonders for my skills. Bad points? My name is Adam, they seem to have a problem with that.</p>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
