.wrapper--company {
  display: inline-block;
  position: fixed;
  left: 20%;
  top: 0;
  height: 100%;
  width: 80%;
}

.views--company {
  width: 100%;
  height: 100%;
  position: relative;

  .profile {
    position: absolute;
    width: 45%;
    height: 60%;
    top: 5%;
    left: 2.5%;
    background-color: $white;
  }

  .list--people {
    position: absolute;
    width: 45%;
    height: 60%;
    top: 5%;
    right: 2.5%;
    background-color: $white;

    h2 {
      text-align: center;
    }

    .list-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75%;
      width: 80%;
      margin: 0 auto;

      ul {
        height: 100%;
        width: 100%;
        overflow: scroll;

        li {
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          font-family: $font-family--body;
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: $light-sky-blue;
            width: 100%;
            height: 50%;
            margin: auto auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 5px, 0, 5px, 0;
          }

          a:hover {
            text-decoration: none;
            background-color: $light-sky-blue;
            color: $deep-manly-blue;
          }
        }
      }
    }
  }

  .list--application {
    position: absolute;
    width: 95%;
    height: 15%;
    top: 67.5%;
    left: 2.5%;
    background-color: $white;
  }

  .list--jobs {
    position: absolute;
    width: 95%;
    height: 10%;
    bottom: 5%;
    left: 2.5%;
    background-color: $white;
  }
}
