<div ng-controller="ViewCompanyCtrl as ctrl">
  <h1 class="text-center">{{ctrl.company.name}}</h1>
  <section class="col-md-6">
    <h2>{{ctrl.company.name}}</h2>
    <button ng-click="ctrl.deleteCompanyByID()">DELETE</button>
  </section>

  <section class="col-md-6 text-center people">
    <h2>Employees</h2>
    <ul class="list-group">
      <li ng-repeat="person in ctrl.people" class="list-group-item">
        {{person.name}}
      </li>
    </ul>
    <a id="addPerson" ng-href="/companies/{{ctrl.company.id}}/people/new" class="btn btn-success">Add Employee</a>
  </section>

  <section class="col-md-8 col-md-offset-2 text-center">
    <h2>Jobs</h2>
    <ul class="list-group">
      <li ng-repeat="job in ctrl.jobs" class="list-group-item">
        {{job.title}}
      </li>
    </ul>
    <a id="addJob" ng-href="/companies/{{ctrl.company.id}}/jobs/new" class="btn btn-success">Add Job</a>
  </section>
</div>
